<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291084214810-0qemjmlbtnfdaau5qm9u3n70bmbp7eh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291084214810-0qemjmlbtnfdaau5qm9u3n70bmbp7eh3</string>
	<key>API_KEY</key>
	<string>AIzaSyAtDF6A9x6ld8AGuuGX80EGQ8DLA96Bbe4</string>
	<key>GCM_SENDER_ID</key>
	<string>291084214810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NaviWu.Chia</string>
	<key>PROJECT_ID</key>
	<string>chia-ffa56</string>
	<key>STORAGE_BUCKET</key>
	<string>chia-ffa56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291084214810:ios:18f657022cc3c55a7367a3</string>
</dict>
</plist>